// icon bubbles
.icon-bubbles{
    font-size: 11px;
    font-weight: bold;
    color: #000;
    padding-top: 2px;
    border-radius: 50%;
    padding-left: 1px;
    width: 19px;
    height: 19px;
    background: orange;
    position: absolute;
    margin-left: 8px;
    margin-top: -8px;
}

//search box
.searchBox{
    .searchLogo{
        margin-top: 7px;
        margin-left: 12px;
        color: map-get($colors, oLightGrey);
        margin-right: -30px;
        position: relative;
        svg{
        font-size: 1rem;
        }
    }
    .mainSearch{
        background:map-get($colors, oLightBlue);
        width: 70%;
        border-radius: 1rem;
        padding-left: 2.5rem;
        letter-spacing: 1px;
        font-size: 14px;
        &:focus{
        box-shadow: none;
        }
    }
}

.logo{
    font-family: $lobster;
    font-size: 35px;
    letter-spacing: 2px;
}
.navbar-light{
    .navbar-nav{
        .nav-link{
            color: map-get($colors, oBlack);;
            letter-spacing: 0.8px;
            .nav-right-icon-desc{
                font-size: 12px;
            }
        }
    }
}
  