.mega-menu{
    box-shadow: 0px 4px 5px rgba(216, 216, 216, 0.2);
    .level-1{
        .level-1-list{
            padding-bottom: 10px;
            .backdrop{
                width: 100%;
                position: fixed;
                top: 100px;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.3);
                z-index: 1;
                visibility: hidden;
                pointer-events: none;            
            }
            .level-1-link{
                padding-left: 25px;
                padding-right: 25px;
                letter-spacing: 0.5px; 
            }
        }
        li{
            .level-2{
                display: none;
                position: absolute;
                left: 0;
                right: 0;
                background : map-get($colors, oWhite);
                z-index: 1;
                letter-spacing: 0.8px;
                padding: 20px;
                .level-2-content{
                    padding-top: 10px;
                }
                .level-2-list{
                    flex:1;
                    .level-2-link{
                        padding-top: 10px;
                        padding-bottom: 10px;
                        border-bottom: 2px solid map-get($colors, oWhite);
                    }
                    .dash{
                        padding-top: 10px;
                        border-bottom: 4px solid #ff0;
                        width: 18%; 
                    }
                    .card{
                        color: map-get($colors, oBlack);
                        padding-top: 10px;
                        border:none;
                        .card-body{
                            padding: 10px 10px 0px 0px;
                        }
                    }
                }
            }
            &:hover{
                .backdrop{
                    visibility: visible;
                }
                .level-2{
                    display: flex;
                }
            }
        }
    }
}