.plp-prod{
    color: map-get($colors, oBlack);
    .card{
        margin-bottom: 20px;
        border-radius: 0;
        .card-title{
            font-weight: 500;
            letter-spacing: 0.7px;
            font-size: 20px;
            text-overflow: ellipsis;
            border-bottom: 1px solid #ddd;
            padding-bottom: 10px;
        }
        .card-subtitle{
            font-size: 25px;
            letter-spacing: 1px;
        }
    }
    .prod-desc-list{
        padding-top: 15px;
        li{
            color: #646464;
            font-size: 14px;
            padding-bottom: 3px;
            display: flex;
            align-items: center;
            svg{
                font-size: 10px;
            }
        }
    }

    .prod-price-sec{
        padding-top: 15px;
        .prod-price-current{
            font-size: 20px;
            font-weight: 500;
        }
        .price-old{
            color: #646464;
        }
        .price-new{
            font-weight: 700;
        }
        .price-oldPrice{
            text-decoration: line-through;
        }
        h6{
            padding-top: 10px;
            font-size: 14px;
        }
    }
    .prod-reviews{
        padding-top: 30px;
        letter-spacing: 1px;
    }
}
.prod-image{
    max-width: 315px;
    padding-left: 15px;
    .plp-prod-img{
        min-height: 373px;
    }
}
.sort{
    font-size: 14px;
    .sort-opt{
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover{
            font-weight: 700;
        }
    }
}

// checboxes
.checkboxes{
    padding-top: 5px;
    .filter-form{
        padding-left: 25px;
    }
    .fulter-label{
        padding-bottom: 20px;
    }
}
.checkboxLabel{
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -25px;
    background: #ddd;
    cursor: pointer;
    .checked{
        margin-left: 4px;
        font-size: 12px;
        position: absolute;
        margin-top: 1px;
        visibility: hidden;
    }
}
.filters-checkbox{
    opacity: 0;
    cursor: pointer;
}
.filters-checkbox:checked + .checkboxLabel{
    .checked{
        visibility: visible;
    }
}