.plp-prod{
    color: map-get($colors, oBlack);
    .card{
        margin-bottom: 20px;
        border-radius: 0;
        .card-title{
            font-weight: 500;
            letter-spacing: 0.7px;
            font-size: 20px;
            text-overflow: ellipsis;
            border-bottom: 1px solid #ddd;
            padding-bottom: 10px;
        }
        .card-subtitle{
            font-size: 25px;
            letter-spacing: 1px;
        }
    }
    .prod-desc-list{
        padding-top: 15px;
        li{
            color: #646464;
            font-size: 14px;
            padding-bottom: 3px;
            display: flex;
            align-items: center;
            svg{
                font-size: 10px;
            }
        }
    }

    .prod-price-sec{
        padding-top: 15px;
        .prod-price-current{
            font-size: 20px;
            font-weight: 500;
        }
        .price-old{
            color: #646464;
        }
        .price-oldPrice{
            text-decoration: line-through;
        }
    }
}
.prod-image{
    max-width: 315px;
    padding-left: 15px;
    .plp-prod-img{
        min-height: 373px;
    }
}